@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  scroll-behavior: smooth;
  background-color: #151d21;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  align-self: center;
  background-image: url("background2.jpg");
}

.All {
  align-self: center;
}

* {
  margin: 0;
  transition: 0.25s ease;
  align-self: center;
}

#secks {
  font-family: poppins;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  justify-content: center;
  color: ivory;
}
#secks1 {
  font-family: poppins;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  justify-content: center;
  padding-top: 20px;
  color: ivory;
  z-index: 1;
}

#track-art {
  margin: 25px;
  height: 250px;
  width: 250px;
  background-image: url("/img/moosik.jpeg");
  background-size: 100% 100%;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.555);
  border: indianred;
  border-style: solid;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}

#duration {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slider_container {
  line-height: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.seek_slider {
  width: 75%;
  padding: x 8px; /* ik this wrong but this is only the thing it fixes it so shut and go wash utensils */
  cursor: pointer;
}

#butonz {
  padding-right: 2px;
  padding-left: 2px;
}

#buton {
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;
}

#secks {
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  justify-content: center;
  padding-top: 2px;
  color: ivory;
  text-shadow: 0 0 36px black;
}

.wrapper {
  position: fixed;
  bottom: 0;
  margin: 0;
  padding-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  background-color: #18181894;
  color: lavenderblush;
  z-index: 1;
  border-color: #282828;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  font-family: poppins;
  z-index: 9999;
  box-shadow: 0 0 8px black;
}

.wrapper-top {
  position: fixed;
  top: 0;
  margin: 0;
  padding-bottom: 5px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  color: lavenderblush;
  z-index: 1;
  font-family: poppins;
  z-index: 9999;
}

#butons1 {
  background-color: rgba(0, 0, 0, 0.25);
  width: 10%;
  border-radius: 20px;
  padding-bottom: 5px;
}

#butons1:hover {
  padding: 5px;
}

#play {
  border: none;
  padding: 8px 8px;
  background: transparent;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.2s;
  font-size: 19px;
  color: ivory;
}

#play:hover {
  border: none;
  color: rgb(207, 207, 207);
  border-radius: 100px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 0.2px;
  border-style: none;
}

#back {
  border: none;
  padding: 8px 8px;
  background: transparent;
  border-radius: 70px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.2s;
  color: ivory;
}
#back:hover {
  color: rgb(207, 207, 207);
  border: none;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.2;
}

#next {
  border: none;
  padding: 8px 8px;
  color: ivory;
  background: transparent;
  border-radius: 50px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.2s;
}

#next:hover {
  color: rgb(207, 207, 207);
  border: none;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.2;
}

#user {
  cursor: pointer;
  border: none;
  padding: 8px 8px;
  color: ivory;
  background: transparent;
  border-radius: 50px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.2s;
}

#user:hover {
  color: rgb(199, 199, 199);
  border: none;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.2;
}

#serch {
  cursor: pointer;
  border: none;
  padding: 8px 8px;
  color: ivory;
  background: transparent;
  border-radius: 50px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.2s;
}

#serch:hover {
  color: rgb(199, 199, 199);
  border: none;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.2;
}

#lyrics {
  cursor: pointer;
  border: none;
  padding: 8px 8px;
  color: ivory;
  background: transparent;
  border-radius: 50px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.2s;
}

#lyrics:hover {
  color: rgb(199, 199, 199);
  border: none;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.2;
}

/* serch wat ;-; */

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00b4cc;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 50%;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 694201;
}

#searched_song {
  font-family: poppins;
  color: ivory;
  font-size: 10px;
  margin-bottom: -20px;
}

/*   */

#lyrics-div {
  overflow-y: scroll;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.623);
  transition-duration: 0.25s;
  z-index: 1;
  overflow-x: hidden;
  transition: 1s ease-in-out;
  padding-top: 26px;
}

#lyrics-div p {
  padding: 1rem 1rem 8rem 1rem;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  font-family: poppins;
  font-size: 14px;
  z-index: 1;
  overflow-x: hidden;
  display: block;
  transition: 1s ease-in-out;
}

.no-display {
  display: none;
  transition-duration: 0.25s;
}

.rotate {
  animation: rotate 5s linear infinite;
}

#vol {
  cursor: pointer;
}

#show {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  overflow-x: hidden;
}
#show a {
  color: #66ddcc;
}
#show a:hover {
  color: #669999;
}
#shade {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
#choose {
  display: none;
  position: absolute;
  left: 25vw;
  top: calc(50vh - 35vw / 2);
  width: 50vw;
  height: 400px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 50px;
  text-align: center;
  color: #000000;
  font-size: 16px;
  font-family: "Poppins";
  overflow: hidden;
  overflow-x: hidden;
  padding: 25px;
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 620px) {
  #track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    background-image: url("https://media.discordapp.net/attachments/750607286111567933/870210702697177088/Untitled.png?width=230&height=230");
    background-size: 100% 100%;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
  }
  #butons1 {
    width: 32%;
  }
}
@media screen and (max-width: 321px) {
  #track-art {
    margin: 25px;
    height: 150px;
    width: 150px;
    background-image: url("https://media.discordapp.net/attachments/750607286111567933/870210702697177088/Untitled.png?width=230&height=230");
    background-size: 100% 100%;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
  }
}

@media screen and (max-height: 570px) {
  #track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    background-image: url("https://media.discordapp.net/attachments/750607286111567933/870210702697177088/Untitled.png?width=230&height=230");
    background-size: 100% 100%;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
  }
}
@media screen and (max-width: 570px) {
  #track-art {
    margin: 25px;
    height: 150px;
    width: 150px;
    background-image: url("https://media.discordapp.net/attachments/750607286111567933/870210702697177088/Untitled.png?width=230&height=230");
    background-size: 100% 100%;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
  }
  .wrap {
    width: 70%;
  }
}
@media screen and (max-width: 320px) {
  #track-art {
    margin: 25px;
    height: 50px;
    width: 50px;
    background-image: url("https://media.discordapp.net/attachments/750607286111567933/870210702697177088/Untitled.png?width=230&height=230");
    background-size: 100% 100%;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}
@media screen and (max-width: 1024px) {
  #track-art {
    margin: 25px;
    height: 150px;
    width: 150px;
    background-image: url("https://media.discordapp.net/attachments/750607286111567933/870210702697177088/Untitled.png?width=230&height=230");
    background-size: 100% 100%;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
  }
}

@media screen and (max-width: 1300px) {
  #columns {
    flex-direction: column;
    align-items: center;
    position: initial;
  }
  .column-title {
    margin-top: 30px;
  }
}
@media screen and (max-width: 850px) {
  #choose {
    left: 20vw;
    width: 60vw;
    top: calc(50vh - 60vw / 2);
    height: 60vw;
    border-radius: 40px;
    overflow: scroll;
  }
}
@media screen and (max-width: 620px) {
  #choose {
    left: 10vw;
    width: 80vw;
    top: calc(50vh - 100vw / 2);
    height: 100vw;
    border-radius: 30px;
    overflow: scroll;
  }
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
