@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
body {
  scroll-behavior: smooth;
  background-color: #151d21;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  align-self: center;
}

.All {
  align-self: center;
}

* {
  margin: 0;
  transition: 0.25s ease;
  align-self: center;
}

#secks {
  font-family: poppins;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  justify-content: center;
  color: ivory;
}
#secks1 {
  font-family: poppins;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  justify-content: center;
  padding-top: 20px;
  color: ivory;
  z-index: 1;
}

#track-art {
  margin: 25px;
  height: 250px;
  width: 250px;
  background-image: url("https://media.discordapp.net/attachments/750607286111567933/870210702697177088/Untitled.png?width=230&height=230");
  background-size: 100% 100%;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.555);
  border: indianred;
  border-style: solid;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}

#duration {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slider_container {
  line-height: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.seek_slider {
  width: 75%;
  padding: 4px 8px;
  cursor: pointer;
}

#butonz {
  padding-right: 2px;
  padding-left: 2px;
}

#buton {
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;
}

#secks {
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  justify-content: center;
  padding-top: 2px;
  color: ivory;
}

.wrapper {
  position: fixed;
  bottom: 0;
  margin: 0;
  padding-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  background-color: #18181894;
  color: lavenderblush;
  z-index: 1;
  border-color: #282828;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  font-family: poppins;
  z-index: 9999;
}

#play {
  border: none;
  padding: 8px 8px;
  background: transparent;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.2s;
  font-size: 19px;
  color: ivory;
}

#play:hover {
  border: none;
  color: rgb(207, 207, 207);
  border-radius: 100px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 0.2px;
  border-style: none;
}

#back {
  border: none;
  padding: 8px 8px;
  background: transparent;
  border-radius: 70px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.2s;
  color: ivory;
}
#back:hover {
  color: rgb(207, 207, 207);
  border: none;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.2;
}

#next {
  border: none;
  padding: 8px 8px;
  color: ivory;
  background: transparent;
  border-radius: 50px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.2s;
}

#next:hover {
  color: rgb(207, 207, 207);
  border: none;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.2;
}

#lyrics {
  cursor: pointer;
  border: none;
  padding: 8px 8px;
  color: ivory;
  background: transparent;
  border-radius: 50px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.2s;
}

#lyrics :hover {
  color: rgb(207, 207, 207);
  border: none;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.2;
}

#user {
  cursor: pointer;
  border: none;
  padding: 8px 8px;
  color: ivory;
  background: transparent;
  border-radius: 50px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.2s;
}

#user :hover {
  color: rgb(207, 207, 207);
  border: none;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.2;
}

#lyrics-div {
  overflow-y: scroll;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 1rem 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.623);
  transition-duration: 0.25s;
  z-index: 1;
  overflow-x: hidden;
  transition: 1s ease-in-out;
}

#lyrics-div p {
  padding: 1rem 1rem 8rem 1rem;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  font-family: poppins;
  font-size: 14px;
  z-index: 1;
  overflow-x: hidden;
  display: block;
  transition: 1s ease-in-out;
}

.no-display {
  display: none;
  transition-duration: 0.25s;
}

.rotate {
  animation: rotate 5s linear infinite;
}

#vol {
  cursor: pointer;
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 620px) {
  #track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    background-image: url("https://media.discordapp.net/attachments/750607286111567933/870210702697177088/Untitled.png?width=230&height=230");
    background-size: 100% 100%;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
  }
  #lyrics-div p {
    display: none;
  }
  .STOP {
    display: none;
  }
}
@media screen and (max-width: 321px) {
  #track-art {
    margin: 25px;
    height: 150px;
    width: 150px;
    background-image: url("https://media.discordapp.net/attachments/750607286111567933/870210702697177088/Untitled.png?width=230&height=230");
    background-size: 100% 100%;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
  }

  #lyrics-div p {
    display: none;
  }
  .STOP {
    display: none;
  }
}

@media screen and (max-height: 570px) {
  #track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    background-image: url("https://media.discordapp.net/attachments/750607286111567933/870210702697177088/Untitled.png?width=230&height=230");
    background-size: 100% 100%;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
  }
  #lyrics-div p {
    display: none;
  }

  .STOP {
    display: none;
  }
}
@media screen and (max-width: 570px) {
  #track-art {
    margin: 25px;
    height: 150px;
    width: 150px;
    background-image: url("https://media.discordapp.net/attachments/750607286111567933/870210702697177088/Untitled.png?width=230&height=230");
    background-size: 100% 100%;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
  }
  #lyrics-div p {
    display: none;
  }
  .STOP {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  #track-art {
    margin: 25px;
    height: 150px;
    width: 150px;
    background-image: url("https://media.discordapp.net/attachments/750607286111567933/870210702697177088/Untitled.png?width=230&height=230");
    background-size: 100% 100%;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
  }
  #lyrics-div p {
    display: none;
  }
  .STOP {
    display: none;
  }
}
