@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body {
    scroll-behavior: smooth;
    background-color: #151D21;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}

*{
    margin: 0;
    transition: .25s ease;
}

  .track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    background-image: url("https://images.pexels.com/photos/262034/pexels-photo-262034.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: contain;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
  }

  #duration {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider_container {
    line-height: 5px;
    position: relative;
    display: flex;
    justify-content: center;
}

.seek_slider {
    width: 75%;
    padding: 4px 8px;
}

#butonz {
    padding-top: 10px;
    padding-right: 2px;
    padding-left: 2px;
}

#buton {
    padding-top: 2px;
    padding-right: 2px;
    padding-left: 2px;
}

#secks {
margin-left: auto;
margin-right: auto;
align-self: center;
justify-content: center;
padding-top: 2px;
}

.wrapper {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    background-color: #18181894;
    color: lavenderblush;
    z-index: 1;
    border-color: #282828;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    font-family: poppins;
}

#play {
    border: none;
    padding: 8px 8px;
    background: transparent;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.2s;
    font-size: 19px;
    color: ivory;
}

#play:hover {
    border: none;
    color: rgb(207, 207, 207);
    border-radius: 100px;
    font-size: 19.5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 0.2px;
    border-style: none;
}


#back {
    border: none;
    padding: 8px 8px;
    background: transparent;
    border-radius: 70px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.2s;
    color: ivory;
}
#back:hover {
    color: rgb(207, 207, 207);
    border: none;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.2;
}


#next {
    border: none;
    padding: 8px 8px;
    color: ivory;
    background: transparent;
    border-radius: 50px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.2s;
}

#next:hover {
    color: rgb(207, 207, 207);
    border: none;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.2;
}
